<nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav me-auto order-0 ">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">AllWaysCaring</a>
    </li>
    </ul>
    <div class="mx-auto">
    <a class="navbar-brand " href="#">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="m-3">
    <div class="dropdown">
        <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">Adminstrator</a>
        <div class="dropdown-menu">
            <a href="#" class="dropdown-item">Change Password</a>
            <a href="#" class="dropdown-item">LogOut</a>
        </div>
    </div>
</div>
  </div>
  </div>
</nav>
<app-ps-home></app-ps-home>
